.footer-section {
    background-color: #11275c;
    padding: 5% 10%;
  }

  .footer-item h3 {
    color: white;
    font-size: 24px;
    font-weight: 600;
  }
  .footer-item p, a{
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  .footer-item p a:hover{
    text-decoration: underline;
    color: white;
  }

  .f-icon {
    color: #078fe1;
    font-size: 27px;
  }